body {
    background: whitesmoke;
    margin-left: 250px;
    margin: right 400px;;
}

header {
    margin-top: 100px;
}

h1 {
    color: darkblue;
    font-family: fantasy;
}

h2 {
    font-family: fantasy;
}

p {
    font-size: 18px;
}

.img_padrao {
    margin-bottom: 20px;
    width: 300px;
}

.img_logo {
    width: "300px";
}